// {
//   "presets": [
//     "env"
//   ],
//   "plugins": [
//     "transform-class-properties",
//     "transform-decorators"
//   ]
// }
{
  "presets": [
    "@babel/preset-env"
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  }
  
  // "plugins": [
  //   "transform-class-properties",
  //   "transform-decorators"
  // ]
}
